# ===========================
# Virtual Environment
# ===========================
.venv/
venv/
renv/

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Dataset
# ===========================
datasets/raw/
datasets/extracted/
datasets/processed/
datasets/RetinaSense_Dataset/

# ===========================
# Trained Models
# ===========================
saved_models/
*.h5
*.pth
*.pt
*.ckpt

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Results
# ===========================
results/
exports/

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db